.video-wrapper {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.vido-section-banner iframe {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}


html {
  scroll-behavior: smooth;
}

.whatsapp-float {
  position: fixed;
  width: 56px;
  height: 56px;
  bottom: 24px;
  right: 24px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  z-index: 9999;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
    background-color: #1ebe5d;
  }
}
.whatsapp-icon {
  margin-left: 2px;
}